absl-py==2.1.0
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.11
aiohttp-retry==2.8.3
aiosignal==1.3.1
alembic==1.14.0
annotated-types==0.7.0
anyio==4.5.2
arabic-reshaper==3.0.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
astunparse==1.6.3
async-timeout==5.0.1
atomicwrites==1.4.1
attrs==24.2.0
backcall==0.2.0
backoff==2.2.1
backports.zoneinfo==0.2.1
basicsr==1.4.2
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
Brotli==1.1.0
cached-property==2.0.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
charset-normalizer==2.0.12
chess==1.11.1
ci-info==0.3.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.1.11
ConfigArgParse==1.7
configobj==5.0.9
configparser==7.1.0
contourpy==1.1.1
crispy-bootstrap5==2024.10
croniter==1.4.1
cryptography==38.0.4
cycler==0.12.1
databricks-sdk==0.39.0
databricks-sql-connector==2.0.3
dataclasses==0.6
debugpy==1.8.8
decorator==4.4.2
Deprecated==1.2.15
distro==1.9.0
Django==4.2.16
django-appconf==1.0.6
django-crispy-forms==2.3
django-cryptography==1.1
django-custom-user==1.1
django-custom-user-models==0.2.5
django-phonenumber-field==8.0.0
django-tables2==2.7.0
docker==7.1.0
docutils==0.20.1
duckdb==0.3.4
duckdb-engine==0.1.11
easyocr==1.7.2
eli5==0.13.0
et_xmlfile==2.0.0
etelemetry==0.3.1
exceptiongroup==1.2.2
executing==2.1.0
facexlib==0.3.0
fastapi==0.115.5
feedparser==6.0.11
filelock==3.16.1
filetype==1.2.0
filterpy==1.4.5
fitz==0.0.1.dev2
Flask==2.0.3
Flask-Cors==5.0.0
Flask-Dance==7.1.0
Flask-JWT-Extended==4.3.1
Flask-Login==0.6.3
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
flask-talisman==1.1.0
Flask-Testing==0.8.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
fonttools==4.55.0
frontend==0.0.3
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
fuzzywuzzy==0.18.0
gast==0.4.0
gevent==24.2.1
geventhttpclient==2.0.12
gfpgan==1.3.8
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.23.0
google-api-python-client==2.169.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
googletrans==4.0.0rc1
gql==3.5.0
graphene==3.4.3
graphql-core==3.2.5
graphql-relay==3.2.0
graphviz==0.18.2
greenlet==3.1.1
grpcio==1.68.1
grpcio-status==1.68.1
gTTS==2.5.4
h11==0.16.0
h2==3.2.0
h5py==3.11.0
halo==0.0.31
hpack==3.0.0
hstspreload==2024.11.1
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.0
humanfriendly==10.0
Hypercorn==0.17.3
hyperframe==5.2.0
idna==2.10
ifaddr==0.2.0
imageio==2.35.1
imageio-ffmpeg==0.5.1
imbalanced-learn==0.12.4
imblearn==0.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.12.3
iso8601==2.1.0
isodate==0.6.1
itsdangerous==2.2.0
jalali_core==1.0.0
jdatetime==5.0.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
jsonschema==3.2.0
jupyter_client==8.6.3
jupyter_core==5.7.2
kavenegar==1.1.2
keras==2.13.1
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
lightgbm==4.5.0
llvmlite==0.41.1
lmdb==1.5.1
locust==2.25.0
log-symbols==0.0.14
looseversion==1.3.0
lxml==5.4.0
Mako==1.3.6
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.1
MarkupSafe==2.1.1
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
metricflow-lite==0.130.2
mlflow==2.17.2
mlflow-skinny==2.17.2
mlxtend==0.23.4
mo-dots==4.22.21108
mo-future==3.147.20327
mo-imports==3.149.20327
mo-kwargs==4.22.21108
mo-logs==4.23.21108
monotonic==1.6
more-itertools==8.10.0
MouseInfo==0.1.3
moviepy==1.0.3
moz-sql-parser==4.40.21126
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mutagen==1.47.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.1
nibabel==5.2.1
nicegui==2.5.0
ninja==1.11.1.1
nipype==1.8.6
nltk==3.9.1
numba==0.58.1
numpy==1.24.3
oauthlib==3.2.2
onnxruntime==1.19.2
openai==1.58.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opt_einsum==3.4.0
orjson==3.10.11
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==24.1
pandas==1.4.4
parso==0.8.4
path==17.0.0
pathlib==1.0.1
pathspec==0.12.1
pdf2image==1.17.0
phonenumbers==8.13.49
pickleshare==0.7.5
pillow==10.4.0
pipeline==0.1.0
platformdirs==4.3.6
pluggy==1.5.0
plyer==2.1.0
pooch==1.8.2
priority==2.0.0
proglog==0.1.12
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.25.0
protobuf==3.20.3
prov==2.0.1
pscript==0.7.7
psutil==6.1.0
pure_eval==0.2.3
py==1.11.0
py4j==0.10.9.7
pyarrow==5.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycparser==2.22
pycron==3.0.0
pycryptodome==3.21.0
pycryptodomex==3.21.0
pydantic==1.10.11
pydantic_core==2.27.1
pydot==4.0.0
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.18.0
PyJWT==2.9.0
PyMatting==1.1.13
PyMsgBox==1.0.9
pyMSVC==0.5.4
PyMySQL==1.1.1
pyOpenSSL==22.1.0
pyparsing==3.1.4
PyPDF4==1.27.0
pyperclip==1.9.0
pypiwin32==223
pypng==0.20220715.0
pyreadline3==3.5.4
PyRect==0.2.0
pyrsistent==0.20.0
PyScreeze==1.0.1
pyserial==3.5
pyshorteners==1.0.1
PySocks==1.7.1
pyspark==3.5.3
pyTelegramBotAPI==4.23.0
pytesseract==0.3.13
pytest==6.2.5
python-bidi==0.6.3
python-dateutil==2.8.2
python-dotenv==0.19.0
python-engineio==4.10.1
python-multipart==0.0.17
python-socketio==5.11.4
python-telegram-bot==21.6
pyttsx3==2.98
pytweening==1.2.0
pytz==2024.2
PyWavelets==1.4.1
pywhatkit==5.4
pywin32==308
pyxnat==1.6.3
PyYAML==6.0.2
pyzmq==26.2.0
qrcode==7.4.2
quart==0.18.3
rdflib==6.3.2
realesrgan==0.3.0
regex==2024.11.6
rembg==2.0.60
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.9.4
roundrobin==0.0.4
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
rudder-sdk-python==1.0.6
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
selenium==4.27.1
serial==0.0.97
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.20.1
six==1.16.0
smmap==5.0.1
smote==0.1
sniffio==1.3.1
snowflake-connector-python==2.9.0
snowflake-sqlalchemy==1.2.3
sortedcontainers==2.4.0
soupsieve==2.6
SpeechRecognition==3.10.4
speedtest==0.0.1
speedtest-cli==2.1.3
spinners==0.0.24
SQLAlchemy==1.4.47
sqlalchemy-bigquery==1.12.0
sqlalchemy-orm==1.2.10
sqlalchemy-redshift==0.8.1
sqlalchemy2-stubs==0.0.2a38
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.41.2
stripe==11.2.0
sympy==1.13.3
tabulate==0.8.9
taskgroup==0.0.0a4
tb-nightly==2.14.0a20230808
telebot==0.0.5
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
thrift==0.13.0
tifffile==2023.7.10
toml==0.10.2
tomli==2.0.2
tools==1.0.2
torch==2.4.1
torchtext==0.18.0
torchvision==0.19.1
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
traits==6.3.2
transform==1.4.3
transform_tools==1.1.0
trio==0.27.0
trio-websocket==0.12.2
twilio==9.4.1
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.13.2
tzdata==2024.2
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.18
URLObject==2.4.3
users==1.0.dev0
uvicorn==0.32.0
vaderSentiment==3.3.2
validators==0.34.0
vbuild==0.8.2
waitress==3.0.0
watchfiles==0.24.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==13.1
Werkzeug==2.0.3
wikipedia==1.4.0
wrapt==1.17.0
wsproto==1.2.0
WTForms==3.1.2
xgboost==2.1.2
xxhash==3.5.0
yamllint==1.35.1
yapf==0.43.0
yarl==1.15.2
yt-dlp==2024.10.22
zipp==3.20.2
zope.event==5.0
zope.interface==7.2
